<footer>
  <div class="row">
    <div class="large-12 medium-12 columns">
      <nav>
        <ul class="mainNav">
          <li><a href="index.html">About</a></li>
          <li><a href="marked.html">Marked</a></li>
          <li><a href="progress.html">Progress</a></li>
          <li><a href="unveiling.html">Unveiling</a></li>
          <li><a href="why-not.html">Why Not</a></li>
          <li><a href="harmony.html">Harmony</a></li>
          <li><a href="legacy.html">Legacy</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h6>Designed and built by: <a href="http://zmorgandesign.com">Zachary Morgan</a> at Z Morgan Design&copy;2015</h6>
    </div>
  </div>
</footer>