<div class="row">
  <div class="large-12 columns">
    <h1><span class="tedX">TED<sup>x</sup></span>Portland <span class="tedDate">2016</span></h1>
    <h4 class="tedSub">x = independently organized TED event</h4>
    <h5 class="studentProj">An Art Institute of Portland student run project</h5>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <nav>
      <ul class="mainNav">
        <li><a href="index.html">About</a></li>
        <li><a href="marked.html">Marked</a></li>
        <li><a href="progress.html">Progress</a></li>
        <li><a href="unveiling.html">Unveiling</a></li>
        <li><a href="why-not.html">Why Not</a></li>
        <li><a href="harmony.html">Harmony</a></li>
        <li><a href="legacy.html">Legacy</a></li>
      </ul>
    </nav>
  </div>
</div>